body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom,#eca012, purple);
    /* border: 1px solid red; */
    height: 100vh;
}

.card-container {
    flex-basis:100%;
    display: grid;
    grid-template-columns:22% 22% 22% 22%;
    padding: 24px;
    gap:16px;
    flex-wrap: wrap;
    background: linear-gradient(to right bottom, purple,#eca012);
    flex-basis: 100%;
    border-radius: 10px;
    
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    /* border: 1px solid red; */
   
}

.card.flip{
    transform: rotateY(180deg);
  }

.front-face .img {
    width:100%;
   height: 100px;
    border-radius: 5px;
   
}

.image {
    width:100%;
    height: 100px;
     border-radius: 5px;
    
}

.back-face {
    /* display: none; */
    position: absolute;
    width: 100%;
    height:100%;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    backface-visibility: hidden;
    /* border: 1px solid red; */
}

.front-face {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 5px;
    backface-visibility: hidden;
    /* border: 1px solid red; */
}

.front-face {
    transform: rotateY(180deg);
  }

.start {
    display: flex;
    align-content:baseline;
    gap:16px;
    /* margin-left: 2em; */
    padding: 10px 0px;
    color: white;
}

button {
    align-self: center;
    font-size: 20px;
    padding: 5px 16px;
    background-color: rgb(32, 19, 19);
    color: white;
    border: none;
    border-radius: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
}

.matched {
    visibility: hidden;
  }
  
.clicked {
    cursor: none;
}

.congrats {
    color: hsla(115, 89%, 22%, 0.945);
    /* background-color: azure; */
    padding: 5px;
    border-radius: 5px;
    /* display: none; */
}